@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700");
/*$btnDefaultColor: #333 !default;
$btnDefaultBg: #fff !default;
$btnDefaultBorder: #ccc !default;
$btnPrimaryColor: #fff !default;
$btnPrimaryBg: $brandPrimary !default;
$btnPrimaryBorder: #f9f9f9 !default;
$btnSecondaryColor: #fff !default;
$btnSecondaryBg: $brandPrimary !default;
$btnSecondaryBorder: #f9f9f9 !default;
$btnDisabledColor: #ccc;*/
/*$btnBorderRadiusBase: $border-radius-base !default;
$btnBorderRadiusLarge: $border-radius-large !default;
$btnBorderRadiusSmall: $border-radius-small !default;*/
/*$tableBgHover: $baseColor;*/
.spacer, .spacerMini, .spacerSmall, .spacerBig, .spacerExtraBig {
  overflow: hidden;
  background: transparent;
  clear: both; }

.spacerMini {
  font-size: 0px;
  height: 10px;
  line-height: 10px; }

.spacerSmall {
  font-size: 0px;
  height: 20px;
  line-height: 20px; }

.spacerBig {
  font-size: 0px;
  height: 40px;
  line-height: 30px; }

.spacerExtraBig {
  font-size: 0px;
  height: 60px;
  line-height: 60px; }

/* ###### Fallback Start ###### */
/* ###### Fallback End ###### */
/* ###### Material Design Overwrite Style Start ###### */
/* ###### Material Icons For Local Start ###### */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2"); }
.material-icons {
  font-family: "Material Icons" !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale; }

/* ###### Material Icons For Local End ###### */
/* ###### Material Form End ###### */
.mdl-textfield {
  width: 100%; }

.mdl-button {
  background: #19b0e6 !important;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  padding: 0 30px;
  text-transform: uppercase;
  float: right;
  cursor: pointer; }
  .mdl-button:hover {
    color: #fff !important; }

.mdl-button--disabled {
  background: #cacaca !important;
  color: #fff !important;
  pointer-events: none; }
  .mdl-button--disabled:hover {
    color: #fff !important; }

/* ###### Material Form End ###### */
/* ###### Material Design Overwrite Style End ###### */
/* ###### Universal Style Start ###### */
body,
html {
  height: 100%;
  margin: 0;
  background: #fafafa; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

ul,
li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", sans-serif !important;
  margin: 0 0 10px;
  padding: 0; }

h1 {
  font-size: 45px; }

h2 {
  font-size: 60px; }

h3 {
  font-size: 40px; }

h4 {
  font-size: 26px; }

h5 {
  font-size: 22px; }

h6 {
  font-size: 18px; }

.container {
  width: 1175px;
  margin: 0 auto; }

.content-grid {
  max-width: 1175px; }

.img-responsive {
  height: auto;
  max-width: 100%; }

a {
  color: #19b0e6;
  text-transform: capitalize;
  text-decoration: none; }
  a:hover {
    color: #19b0e6; }

.disabledLinks {
  color: #cacaca !important;
  pointer-events: none; }

.enabledLinks {
  color: #19b0e6 !important;
  pointer-events: auto; }

.noFloat {
  float: none; }

.clearfix {
  clear: both; }

.width-auto {
  width: auto; }

.inlineIcon {
  position: absolute;
  right: 0;
  top: 20px; }

.skew-box {
  -webkit-transform: skewX(-9deg);
  -moz-transform: skewX(-9deg);
  -ms-transform: skewX(-9deg);
  transform: skewX(-9deg); }

.skew-box-rightSide {
  -webkit-transform: skew(-9deg);
  -moz-transform: skew(-9deg);
  -ms-transform: skew(-9deg);
  transform: skew(-9deg); }

.skew-text {
  -webkit-transform: skewX(9deg);
  -moz-transform: skewX(9deg);
  -ms-transform: skewX(9deg);
  transform: skewX(9deg); }

.skew-textReset {
  -webkit-transform: skewX(0deg);
  -moz-transform: skewX(0deg);
  -ms-transform: skewX(0deg);
  transform: skewX(0deg); }

.skew-text2 {
  -webkit-transform: skewX(18deg);
  -moz-transform: skewX(18deg);
  -ms-transform: skewX(18deg);
  transform: skewX(18deg); }

.custHeadlineA {
  font-size: 50px;
  color: #676767; }

.custHeadlineB {
  font-size: 34px; }

.custHeadlineC {
  font-size: 30px; }

.custHeadlineD {
  font-size: 24px; }

.custHeadlineE {
  font-size: 16px; }

.bgStyleA {
  background: #fadd00; }

.bgStyleB {
  background: #fbdd00; }

.bgStyleC {
  background: #fab918; }

.bgStyleD {
  background: #f9af14; }

.bgStyleE {
  background: #f68c1f; }

.bgStyleF {
  background: #f57c00; }

.bgStyleG {
  background: #676767; }

.bgStyleH {
  background: #2e2e2e; }

.bgStyleI {
  background: #cacaca; }

.bgStyleJ {
  background: #f2f2f2; }

/* ###### iBrand Style Start ###### */
.iBrandskewX {
  width: 500px;
  height: 780px;
  background: #cacaca;
  padding: 200px 0;
  position: absolute;
  z-index: -999;
  right: 280px; }

/* ###### iBrand Style End ###### */
/* ###### Custom Card Layout Style Start ###### */
.custCard_wrapper {
  position: relative;
  margin: 0 0 40px 0;
  padding: 40px 0 0; }
  .custCard_wrapper .custCard_rightSkew {
    background: #cacaca;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 0;
    transform: skewX(-20deg);
    width: 280px;
    height: 40px;
    z-index: -999; }
  .custCard_wrapper .custCard_leftSkew {
    background: #c6c6c6 none repeat scroll 0 0;
    left: 20px;
    padding: 0;
    position: absolute;
    transform: skewX(-20deg);
    width: 280px;
    height: 40px;
    z-index: -999; }
  .custCard_wrapper .custCard_cornered_Bg {
    background: #fbba19;
    position: relative;
    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.33);
    overflow: hidden; }
    .custCard_wrapper .custCard_cornered_Bg:before {
      border-right: 50px solid #f2f2f2;
      border-top: 255px solid #fbba19;
      content: "";
      left: 0;
      position: absolute;
      top: 0;
      width: 0; }
    .custCard_wrapper .custCard_cornered_Bg:after {
      border-bottom: 255px solid #f57c00;
      border-left: 50px solid #fff;
      bottom: 0;
      content: "";
      position: absolute;
      right: 0;
      width: 0;
      z-index: 99; }
  .custCard_wrapper .custCard_content {
    background: #fff; }
  .custCard_wrapper .custCard_infoBox {
    min-height: 100%;
    margin: -15px 0 0 -15px;
    padding: 35px 50px;
    background: #f2f2f2; }
    .custCard_wrapper .custCard_infoBox .custCard_infoHeadline {
      color: #676767;
      font-size: 30px;
      line-height: 1.4;
      margin: 0; }
      .custCard_wrapper .custCard_infoBox .custCard_infoHeadline h2 {
        font-weight: 400;
        text-transform: uppercase; }
      .custCard_wrapper .custCard_infoBox .custCard_infoHeadline h3 {
        font-weight: 300;
        text-transform: uppercase; }
    .custCard_wrapper .custCard_infoBox .custCard_infoText h2 {
      color: #676767;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.4;
      margin: 0; }
    .custCard_wrapper .custCard_infoBox .custCard_infoText .custCard_infoMessage {
      color: #676767;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4; }
      .custCard_wrapper .custCard_infoBox .custCard_infoText .custCard_infoMessage p {
        margin: 0; }
  .custCard_wrapper .custCard_detailBox {
    padding: 22px; }
    .custCard_wrapper .custCard_detailBox .custCard_Form {
      margin: 0px 40px; }
      .custCard_wrapper .custCard_detailBox .custCard_Form #validationIcon {
        bottom: 20px;
        height: 30px;
        position: absolute;
        right: 0;
        width: 30px; }
      .custCard_wrapper .custCard_detailBox .custCard_Form .validNumber {
        background: transparent url("../images/green_tick.png") no-repeat scroll; }
      .custCard_wrapper .custCard_detailBox .custCard_Form .invalidNumber {
        background: transparent url("../images/red_x.png") no-repeat scroll; }
      .custCard_wrapper .custCard_detailBox .custCard_Form .regAndScheduleBill {
        padding-left: 0; }
        .custCard_wrapper .custCard_detailBox .custCard_Form .regAndScheduleBill li {
          float: left; }
      .custCard_wrapper .custCard_detailBox .custCard_Form .billAmtDetails p:nth-child(1), .custCard_wrapper .custCard_detailBox .custCard_Form .billAmtDetails p:nth-child(3) {
        margin-bottom: 0; }

/* ###### Custom Card Layout Style End ###### */
/* ###### Custom Tab Style Card Layout Start ###### */
.tabStyle_custCard {
  min-height: 50px;
  cursor: pointer;
  border: #cacaca 3px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .tabStyle_custCard a {
    color: #2e2e2e; }
  .tabStyle_custCard:hover {
    border: #19b0e6 3px solid; }
    .tabStyle_custCard:hover a {
      color: #19b0e6; }
  .tabStyle_custCard.active {
    border: #19b0e6 3px solid; }
    .tabStyle_custCard.active a {
      color: #19b0e6; }

/* ###### Custom Tab Style Card Layout Start ###### */
/* ###### Universal Style End ###### */
/* ######################## Home Page Start ######################## */
/* ###### Container Start ###### */
/* ###### Container End ###### */
/* ###### Header Start ###### */
/* ###### Header End ###### */
/* ###### Hero Start ###### */
/* ###### Hero End ###### */
/* ###### Choose Your Combination Start ###### */
/* ###### Choose Yoru Combination End ###### */
/* ###### Idea Payment Bank Start ###### */
/* ###### Idea Payment Bank End ###### */
/* ###### Explore Your Plan Start ###### */
/* ###### Explore Your Plan End ###### */
/* ###### Today's Offer Start ###### */
/* ###### Today's Offer End ###### */
/* ###### Music Lounge Start ###### */
/* ###### Music Lounge End ###### */
/* ###### Loyalty Points Start ###### */
/* ###### Loyalty Points End ###### */
/* ###### Footer Start ###### */
/* ###### Footer End ###### */
/* ######################## Home Page End ######################## */
/* ######################## Prepaid Page Start ######################## */
/* ###### Promotion Start ###### */
/* ###### Promotion End ###### */
/* ######################## Prepaid Page End ######################## */
/* ######################## Postpaid Page Start ######################## */
/* ###### Promotion Start ###### */
.promotion-banner {
  padding: 15px 0px; }

.slick-slide {
  margin: 0px 10px 0 0; }

/* ###### Promotion End ###### */
/* ######################## Postpaid Page End ######################## */
/* ######################## Offer Page Start ######################## */
/* ######################## Offer Page End ######################## */
/* ######################## Portrait phones and up ######################## */
@media (min-width: 320px) and (max-width: 640px) {
  /* ###### Fallback Start ###### */
  /* ###### Fallback End ###### */
  /* ###### Material Design Overwrite Style Start ###### */
  /* ###### Material Design Overwrite Style End ###### */
  /* ###### Universal Style Start ###### */
  h2 {
    font-size: 25px; }

  h3 {
    font-size: 18px; }

  .container {
    width: 95%; }

  /* ###### Custom Card Layout Style Start ###### */
  .custCard_wrapper .custCard_rightSkew {
    right: 0; }
  .custCard_wrapper .custCard_leftSkew {
    left: 0; }
  .custCard_wrapper .custCard_cornered_Bg:before {
    border-right: 18px solid #f2f2f2;
    border-top: 108px solid #fbba19; }
  .custCard_wrapper .custCard_cornered_Bg:after {
    border-bottom: 108px solid #f57c00;
    border-left: 18px solid #fff; }
  .custCard_wrapper .custCard_content {
    background: #fff; }
  .custCard_wrapper .custCard_infoBox {
    margin: -15px -15px 0 -15px;
    padding: 15px 10px; }
    .custCard_wrapper .custCard_infoBox .custCard_infoHeadline h2 {
      font-weight: 400;
      line-height: 20px; }
    .custCard_wrapper .custCard_infoBox .custCard_infoHeadline h3 {
      font-weight: 300;
      line-height: 25px; }
    .custCard_wrapper .custCard_infoBox .custCard_infoText {
      padding: 0; }
      .custCard_wrapper .custCard_infoBox .custCard_infoText h2 {
        font-weight: 400; }
      .custCard_wrapper .custCard_infoBox .custCard_infoText .custCard_infoMessage {
        font-size: 14px; }
  .custCard_wrapper .custCard_detailBox {
    padding: 0; }
    .custCard_wrapper .custCard_detailBox .custCard_Form {
      margin: 0; }

  /* ###### Custom Card Layout Style End ###### */
  /* ###### Universal Style End ###### */
  /* ######################## Home Page Start ######################## */
  /* ###### Container Start ###### */
  /* ###### Container End ###### */
  /* ###### Header Start ###### */
  /* ###### Header End ###### */
  /* ###### Hero Start ###### */
  /* ###### Hero End ###### */
  /* ###### Choose Your Combination Start ###### */
  /* ###### Choose Yoru Combination End ###### */
  /* ###### Idea Payment Bank Start ###### */
  /* ###### Idea Payment Bank End ###### */
  /* ###### Explore Your Plan Start ###### */
  /* ###### Explore Your Plan End ###### */
  /* ###### Today's Offer Start ###### */
  /* ###### Today's Offer End ###### */
  /* ###### Music Lounge Start ###### */
  /* ###### Music Lounge End ###### */
  /* ###### Loyalty Points Start ###### */
  /* ###### Loyalty Points End ###### */
  /* ###### Footer Start ###### */
  /* ###### Footer End ###### */
  /* ######################## Home Page End ######################## */
  /* ######################## Prepaid Page Start ######################## */
  /* ###### Promotion Start ###### */
  /* ###### Promotion End ###### */
  /* ######################## Prepaid Page End ######################## */
  /* ######################## Postpaid Page Start ######################## */
  /* ###### Promotion Start ###### */
  /* ###### Promotion End ###### */
  /* ######################## Postpaid Page End ######################## */
  /* ######################## Offer Page Start ######################## */
  /* ######################## Offer Page End ######################## */ }
/* ######################## Landscape phone to portrait tablet ######################## */
@media (min-width: 768px) and (max-width: 1024px) {
  /* ###### Fallback Start ###### */
  /* ###### Fallback End ###### */
  /* ###### Material Design Overwrite Style Start ###### */
  /* ###### Material Design Overwrite Style End ###### */
  /* ###### Universal Style Start ###### */
  h2 {
    font-size: 60px; }

  h3 {
    font-size: 40px; }

  .container {
    width: 95%; }

  /* ###### Custom Card Layout Style Start ###### */
  .custCard_wrapper .custCard_rightSkew {
    right: 0; }
  .custCard_wrapper .custCard_leftSkew {
    left: 0; }
  .custCard_wrapper .custCard_cornered_Bg:before {
    border-right: 28px solid #f2f2f2;
    border-top: 169px solid #fbba19; }
  .custCard_wrapper .custCard_cornered_Bg:after {
    border-bottom: 169px solid #f57c00;
    border-left: 28px solid #fff; }
  .custCard_wrapper .custCard_content {
    background: #fff; }
  .custCard_wrapper .custCard_infoBox {
    margin: -15px -15px 0;
    padding: 15px 10px; }
    .custCard_wrapper .custCard_infoBox .custCard_infoHeadline h2 {
      font-weight: 400;
      line-height: 30px;
      margin: 0 0 20px; }
    .custCard_wrapper .custCard_infoBox .custCard_infoHeadline h3 {
      font-weight: 300;
      line-height: 30px;
      margin: 0 0 20px; }
    .custCard_wrapper .custCard_infoBox .custCard_infoText {
      padding: 0; }
      .custCard_wrapper .custCard_infoBox .custCard_infoText h2 {
        font-weight: 400; }
      .custCard_wrapper .custCard_infoBox .custCard_infoText .custCard_infoMessage {
        font-size: 14px; }
  .custCard_wrapper .custCard_detailBox {
    padding: 0; }

  /* ###### Universal Style End ###### */
  /* ######################## Home Page Start ######################## */
  /* ###### Container Start ###### */
  /* ###### Container End ###### */
  /* ###### Header Start ###### */
  /* ###### Header End ###### */
  /* ###### Hero Start ###### */
  /* ###### Hero End ###### */
  /* ###### Choose Your Combination Start ###### */
  /* ###### Choose Yoru Combination End ###### */
  /* ###### Idea Payment Bank Start ###### */
  /* ###### Idea Payment Bank End ###### */
  /* ###### Explore Your Plan Start ###### */
  /* ###### Explore Your Plan End ###### */
  /* ###### Today's Offer Start ###### */
  /* ###### Today's Offer End ###### */
  /* ###### Music Lounge Start ###### */
  /* ###### Music Lounge End ###### */
  /* ###### Loyalty Points Start ###### */
  /* ###### Loyalty Points End ###### */
  /* ###### Footer Start ###### */
  /* ###### Footer End ###### */
  /* ######################## Home Page End ######################## */
  /* ######################## Prepaid Page Start ######################## */
  /* ###### Promotion Start ###### */
  /* ###### Promotion End ###### */
  /* ######################## Prepaid Page End ######################## */
  /* ######################## Postpaid Page Start ######################## */
  /* ###### Promotion Start ###### */
  /* ###### Promotion End ###### */
  /* ######################## Postpaid Page End ######################## */
  /* ######################## Offer Page Start ######################## */
  /* ######################## Offer Page End ######################## */ }
/* ######################## Portrait tablet to landscape and desktop ######################## */
@media (min-width: 767px) and (max-width: 1023px) {
  /* ###### Fallback Start ###### */
  /* ###### Fallback End ###### */
  /* ###### Material Design Overwrite Style Start ###### */
  /* ###### Material Design Overwrite Style End ###### */
  /* ###### Universal Style Start ###### */
  /* ###### Universal Style End ###### */
  /* ######################## Home Page Start ######################## */
  /* ###### Container Start ###### */
  /* ###### Container End ###### */
  /* ###### Header Start ###### */
  /* ###### Header End ###### */
  /* ###### Hero Start ###### */
  /* ###### Hero End ###### */
  /* ###### Choose Your Combination Start ###### */
  /* ###### Choose Yoru Combination End ###### */
  /* ###### Idea Payment Bank Start ###### */
  /* ###### Idea Payment Bank End ###### */
  /* ###### Explore Your Plan Start ###### */
  /* ###### Explore Your Plan End ###### */
  /* ###### Today's Offer Start ###### */
  /* ###### Today's Offer End ###### */
  /* ###### Music Lounge Start ###### */
  /* ###### Music Lounge End ###### */
  /* ###### Loyalty Points Start ###### */
  /* ###### Loyalty Points End ###### */
  /* ###### Footer Start ###### */
  /* ###### Footer End ###### */
  /* ######################## Home Page End ######################## */
  /* ######################## Prepaid Page Start ######################## */
  /* ###### Promotion Start ###### */
  /* ###### Promotion End ###### */
  /* ######################## Prepaid Page End ######################## */
  /* ######################## Postpaid Page Start ######################## */
  /* ###### Promotion Start ###### */
  /* ###### Promotion End ###### */
  /* ######################## Postpaid Page End ######################## */
  /* ######################## Offer Page Start ######################## */
  /* ######################## Offer Page End ######################## */ }

/*# sourceMappingURL=style.css.map */
