//////////////////////// Import Other SCSS Files
@import '_mixins.scss';

/* ###### Fallback Start ###### */


/* ###### Fallback End ###### */

//////////////////////// Material Design Overwrite Style Start

/* ###### Material Design Overwrite Style Start ###### */


/* ###### Material Icons For Local Start ###### */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons'!important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}


/* ###### Material Icons For Local End ###### */


/* ###### Material Form End ###### */

.mdl-textfield {
    width: 100%;
}

.mdl-button {
    background: $brandColorPrimary !important;
    border-radius: 5px;
    color: $whiteColor;
    font-size: 18px;
    padding: 0 30px;
    text-transform: $uppercase;
    float: right;
    cursor: pointer;
    &:hover {
        color: $whiteColor !important;
    }
}

.mdl-button--disabled {
    background: $supportColorI !important;
    color: $whiteColor !important;
    pointer-events: none;
    &:hover {
        color: $whiteColor !important;
    }
}


/* ###### Material Form End ###### */


/* ###### Material Design Overwrite Style End ###### */

//////////////////////// Material Design Overwrite Style End

/* ###### Universal Style Start ###### */

body,
html {
    height: 100%;
    margin: 0;
    background: #fafafa
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $customFontFamily !important;
    margin: 0 0 10px;
    padding: 0;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px;
}

.container {
    width: 1175px;
    margin: 0 auto;
}

.content-grid {
    max-width: 1175px;
}

.img-responsive {
    height: auto;
    max-width: 100%;
}

a {
    color: $brandColorPrimary;
    text-transform: $capitalize;
    text-decoration: none;
    &:hover {
        color: $brandColorPrimary;
    }
}

.disabledLinks {
    color: $supportColorI !important;
    pointer-events: none;
}

.enabledLinks {
    color: $brandColorPrimary !important;
    pointer-events: auto;
}

.noFloat {
    float: none;
}

.clearfix {
    clear: both;
}

.width-auto {
    width: auto;
}

.inlineIcon {
    position: absolute;
    right: 0;
    top: 20px;
}

.skew-box {
    @include skewedBox($skewed-box);
}

.skew-box-rightSide {
    @include skewedBoxRight($skewed-box-rightSide);
}

.skew-text {
    @include skewedText($skewed-text);
}

.skew-textReset {
    @include skewedTextRest($skewed-textReset);
}

.skew-text2 {
    @include skewedText(skewX(18deg));
}

.custHeadlineA {
    font-size: $fsHeadline;
    color: $supportColorG;
}

.custHeadlineB {
    font-size: $fsBig;
}

.custHeadlineC {
    font-size: $fsSubHeadline;
}

.custHeadlineD {
    font-size: $fsMedium;
}

.custHeadlineE {
    font-size: $fsSmall;
}

.bgStyleA {
    background: $supportColorA;
}

.bgStyleB {
    background: $supportColorB;
}

.bgStyleC {
    background: $supportColorC;
}

.bgStyleD {
    background: $supportColorD;
}

.bgStyleE {
    background: $supportColorE;
}

.bgStyleF {
    background: $supportColorF;
}

.bgStyleG {
    background: $supportColorG;
}

.bgStyleH {
    background: $supportColorH;
}

.bgStyleI {
    background: $supportColorI;
}

.bgStyleJ {
    background: $supportColorJ;
}


/* ###### iBrand Style Start ###### */

.iBrandskewX {
    width: 500px;
    height: 780px;
    background: $supportColorI;
    padding: 200px 0;
    position: absolute;
    z-index: -999;
    right: 280px;
}


/* ###### iBrand Style End ###### */


/* ###### Custom Card Layout Style Start ###### */

.custCard_wrapper {
    position: relative;
    margin: 0 0 40px 0;
    padding: 40px 0 0;
    .custCard_rightSkew {
        background: $supportColorI;
        padding: 0;
        position: absolute;
        right: 20px;
        top: 0;
        transform: skewX(-20deg);
        width: 280px;
        height: 40px;
        z-index: -999;
    }
    .custCard_leftSkew {
        background: #c6c6c6 none repeat scroll 0 0;
        left: 20px;
        padding: 0;
        position: absolute;
        transform: skewX(-20deg);
        width: 280px;
        height: 40px;
        z-index: -999;
    }
    .custCard_cornered_Bg {
        background: $brandColorSecondary;
        position: relative;
        @include box-shadow(0, 1px, 5px, 3px, rgba(0, 0, 0, 0.33));
        overflow: hidden;
        &:before {
            border-right: 50px solid $supportColorJ;
            border-top: 255px solid $brandColorSecondary;
            content: "";
            left: 0;
            position: absolute;
            top: 0;
            width: 0;
        }
        &:after {
            border-bottom: 255px solid $supportColorF;
            border-left: 50px solid $whiteColor;
            bottom: 0;
            content: "";
            position: absolute;
            right: 0;
            width: 0;
            z-index: 99;
        }
    }
    .custCard_content {
        background: $whiteColor;
    }
    .custCard_infoBox {
        min-height: 100%;
        margin: -15px 0 0 -15px;
        padding: 35px 50px;
        background: $supportColorJ;
        .custCard_infoHeadline {
            color: $supportColorG;
            font-size: $fsSubHeadline;
            line-height: $baseLineHeight;
            margin: 0;
            h2 {
                font-weight: $regular;
                text-transform: $uppercase;
            }
            h3 {
                font-weight: $light;
                text-transform: $uppercase;
            }
        }
        .custCard_infoText {
            h2 {
                color: $supportColorG;
                font-size: $fsMedium;
                font-weight: $regular;
                line-height: $baseLineHeight;
                margin: 0;
            }
            .custCard_infoMessage {
                color: $supportColorG;
                font-size: $fsNormal;
                font-weight: $regular;
                line-height: $baseLineHeight;
                p {
                    margin: 0;
                }
            }
        }
    }
    .custCard_detailBox {
        padding: 22px;
        .custCard_Form {
            margin: 0px 40px;
            #validationIcon {
                bottom: 20px;
                height: 30px;
                position: absolute;
                right: 0;
                width: 30px;
            }
            .validNumber {
                background: rgba(0, 0, 0, 0) url("../images/green_tick.png") no-repeat scroll;
            }
            .invalidNumber {
                background: rgba(0, 0, 0, 0) url("../images/red_x.png") no-repeat scroll;
            }
            .regAndScheduleBill {
                padding-left: 0;
                li {
                    float: left;
                }
            }
            .billAmtDetails {
                p {
                    &:nth-child(1),
                    &:nth-child(3) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}


/* ###### Custom Card Layout Style End ###### */


/* ###### Custom Tab Style Card Layout Start ###### */

.tabStyle_custCard {
    min-height: 50px;
    cursor: pointer;
    @include border($supportColorI,
    3px,
    solid);
    @include border-radius(10px);
    align-items: center;
    justify-content: center;
    text-align: center;
    a {
        color: $supportColorH;
    }
    &:hover {
        @include border($brandColorPrimary,
        3px,
        solid);
        a {
            color: $brandColorPrimary;
        }
    }
    &.active {
        @include border($brandColorPrimary,
        3px,
        solid);
        a {
            color: $brandColorPrimary;
        }
    }
}


/* ###### Custom Tab Style Card Layout Start ###### */


/* ###### Universal Style End ###### */

//////////////////////// Custom Code For Layout Styling

/* ######################## Home Page Start ######################## */


/* ###### Container Start ###### */


/* ###### Container End ###### */


/* ###### Header Start ###### */


/* ###### Header End ###### */


/* ###### Hero Start ###### */


/* ###### Hero End ###### */


/* ###### Choose Your Combination Start ###### */


/* ###### Choose Yoru Combination End ###### */


/* ###### Idea Payment Bank Start ###### */


/* ###### Idea Payment Bank End ###### */


/* ###### Explore Your Plan Start ###### */


/* ###### Explore Your Plan End ###### */


/* ###### Today's Offer Start ###### */


/* ###### Today's Offer End ###### */


/* ###### Music Lounge Start ###### */


/* ###### Music Lounge End ###### */


/* ###### Loyalty Points Start ###### */


/* ###### Loyalty Points End ###### */


/* ###### Footer Start ###### */


/* ###### Footer End ###### */


/* ######################## Home Page End ######################## */


/* ######################## Prepaid Page Start ######################## */


/* ###### Promotion Start ###### */


/* ###### Promotion End ###### */


/* ######################## Prepaid Page End ######################## */


/* ######################## Postpaid Page Start ######################## */


/* ###### Promotion Start ###### */

.promotion-banner {
    padding: 15px 0px;
}

.slick-slide {
    margin: 0px 10px 0 0;
}


/* ###### Promotion End ###### */


/* ######################## Postpaid Page End ######################## */


/* ######################## Offer Page Start ######################## */


/* ######################## Offer Page End ######################## */

//////////////////////// Responsive (Media Query)
//////////////////////// Responsive (Media Query)

/* ######################## Portrait phones and up ######################## */

@media (min-width: 320px) and (max-width: 640px) {
    /* ###### Fallback Start ###### */
    /* ###### Fallback End ###### */
    /* ###### Material Design Overwrite Style Start ###### */
    /* ###### Material Design Overwrite Style End ###### */
    /* ###### Universal Style Start ###### */
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 18px;
    }
    .container {
        width: 95%
    }
    /* ###### Custom Card Layout Style Start ###### */
    .custCard_wrapper {
        .custCard_rightSkew {
            right: 0;
        }
        .custCard_leftSkew {
            left: 0;
        }
        .custCard_cornered_Bg {
            &:before {
                border-right: 18px solid $supportColorJ;
                border-top: 108px solid $brandColorSecondary;
            }
            &:after {
                border-bottom: 108px solid $supportColorF;
                border-left: 18px solid $whiteColor;
            }
        }
        .custCard_content {
            background: $whiteColor;
        }
        .custCard_infoBox {
            margin: -15px -15px 0 -15px;
            padding: 15px 10px;
            .custCard_infoHeadline {
                h2 {
                    font-weight: $regular;
                    line-height: $lineHeightSmall;
                }
                h3 {
                    font-weight: $light;
                    line-height: $lineHeightMedium;
                }
            }
            .custCard_infoText {
                padding: 0;
                h2 {
                    font-weight: $regular;
                }
                .custCard_infoMessage {
                    font-size: $fsNormal;
                }
            }
        }
        .custCard_detailBox {
            padding: 0;
            .custCard_Form {
                margin: 0;
            }
        }
    }
    /* ###### Custom Card Layout Style End ###### */
    /* ###### Universal Style End ###### */
    /* ######################## Home Page Start ######################## */
    /* ###### Container Start ###### */
    /* ###### Container End ###### */
    /* ###### Header Start ###### */
    /* ###### Header End ###### */
    /* ###### Hero Start ###### */
    /* ###### Hero End ###### */
    /* ###### Choose Your Combination Start ###### */
    /* ###### Choose Yoru Combination End ###### */
    /* ###### Idea Payment Bank Start ###### */
    /* ###### Idea Payment Bank End ###### */
    /* ###### Explore Your Plan Start ###### */
    /* ###### Explore Your Plan End ###### */
    /* ###### Today's Offer Start ###### */
    /* ###### Today's Offer End ###### */
    /* ###### Music Lounge Start ###### */
    /* ###### Music Lounge End ###### */
    /* ###### Loyalty Points Start ###### */
    /* ###### Loyalty Points End ###### */
    /* ###### Footer Start ###### */
    /* ###### Footer End ###### */
    /* ######################## Home Page End ######################## */
    /* ######################## Prepaid Page Start ######################## */
    /* ###### Promotion Start ###### */
    /* ###### Promotion End ###### */
    /* ######################## Prepaid Page End ######################## */
    /* ######################## Postpaid Page Start ######################## */
    /* ###### Promotion Start ###### */
    /* ###### Promotion End ###### */
    /* ######################## Postpaid Page End ######################## */
    /* ######################## Offer Page Start ######################## */
    /* ######################## Offer Page End ######################## */
}


/* ######################## Landscape phone to portrait tablet ######################## */

@media (min-width: 768px) and (max-width: 1024px) {
    /* ###### Fallback Start ###### */
    /* ###### Fallback End ###### */
    /* ###### Material Design Overwrite Style Start ###### */
    /* ###### Material Design Overwrite Style End ###### */
    /* ###### Universal Style Start ###### */
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 40px;
    }
    .container {
        width: 95%
    }
    /* ###### Custom Card Layout Style Start ###### */
    .custCard_wrapper {
        .custCard_rightSkew {
            right: 0;
        }
        .custCard_leftSkew {
            left: 0;
        }
        .custCard_cornered_Bg {
            &:before {
                border-right: 28px solid $supportColorJ;
                border-top: 169px solid $brandColorSecondary;
            }
            &:after {
                border-bottom: 169px solid $supportColorF;
                border-left: 28px solid $whiteColor;
            }
        }
        .custCard_content {
            background: $whiteColor;
        }
        .custCard_infoBox {
            margin: -15px -15px 0;
            padding: 15px 10px;
            .custCard_infoHeadline {
                h2 {
                    font-weight: $regular;
                    line-height: $lineHeightBig;
                    margin: 0 0 20px;
                }
                h3 {
                    font-weight: $light;
                    line-height: $lineHeightBig;
                    margin: 0 0 20px;
                }
            }
            .custCard_infoText {
                padding: 0;
                h2 {
                    font-weight: $regular;
                }
                .custCard_infoMessage {
                    font-size: $fsNormal;
                }
            }
        }
        .custCard_detailBox {
            padding: 0;
        }
    }
    /* ###### Universal Style End ###### */
    /* ######################## Home Page Start ######################## */
    /* ###### Container Start ###### */
    /* ###### Container End ###### */
    /* ###### Header Start ###### */
    /* ###### Header End ###### */
    /* ###### Hero Start ###### */
    /* ###### Hero End ###### */
    /* ###### Choose Your Combination Start ###### */
    /* ###### Choose Yoru Combination End ###### */
    /* ###### Idea Payment Bank Start ###### */
    /* ###### Idea Payment Bank End ###### */
    /* ###### Explore Your Plan Start ###### */
    /* ###### Explore Your Plan End ###### */
    /* ###### Today's Offer Start ###### */
    /* ###### Today's Offer End ###### */
    /* ###### Music Lounge Start ###### */
    /* ###### Music Lounge End ###### */
    /* ###### Loyalty Points Start ###### */
    /* ###### Loyalty Points End ###### */
    /* ###### Footer Start ###### */
    /* ###### Footer End ###### */
    /* ######################## Home Page End ######################## */
    /* ######################## Prepaid Page Start ######################## */
    /* ###### Promotion Start ###### */
    /* ###### Promotion End ###### */
    /* ######################## Prepaid Page End ######################## */
    /* ######################## Postpaid Page Start ######################## */
    /* ###### Promotion Start ###### */
    /* ###### Promotion End ###### */
    /* ######################## Postpaid Page End ######################## */
    /* ######################## Offer Page Start ######################## */
    /* ######################## Offer Page End ######################## */
}


/* ######################## Portrait tablet to landscape and desktop ######################## */

@media (min-width: #{$screenXSMax}) and (max-width: #{$screenSMMax}) {
    /* ###### Fallback Start ###### */
    /* ###### Fallback End ###### */
    /* ###### Material Design Overwrite Style Start ###### */
    /* ###### Material Design Overwrite Style End ###### */
    /* ###### Universal Style Start ###### */
    /* ###### Universal Style End ###### */
    /* ######################## Home Page Start ######################## */
    /* ###### Container Start ###### */
    /* ###### Container End ###### */
    /* ###### Header Start ###### */
    /* ###### Header End ###### */
    /* ###### Hero Start ###### */
    /* ###### Hero End ###### */
    /* ###### Choose Your Combination Start ###### */
    /* ###### Choose Yoru Combination End ###### */
    /* ###### Idea Payment Bank Start ###### */
    /* ###### Idea Payment Bank End ###### */
    /* ###### Explore Your Plan Start ###### */
    /* ###### Explore Your Plan End ###### */
    /* ###### Today's Offer Start ###### */
    /* ###### Today's Offer End ###### */
    /* ###### Music Lounge Start ###### */
    /* ###### Music Lounge End ###### */
    /* ###### Loyalty Points Start ###### */
    /* ###### Loyalty Points End ###### */
    /* ###### Footer Start ###### */
    /* ###### Footer End ###### */
    /* ######################## Home Page End ######################## */
    /* ######################## Prepaid Page Start ######################## */
    /* ###### Promotion Start ###### */
    /* ###### Promotion End ###### */
    /* ######################## Prepaid Page End ######################## */
    /* ######################## Postpaid Page Start ######################## */
    /* ###### Promotion Start ###### */
    /* ###### Promotion End ###### */
    /* ######################## Postpaid Page End ######################## */
    /* ######################## Offer Page Start ######################## */
    /* ######################## Offer Page End ######################## */
}